@page "/categories"
@inject IRepository repository
@inject NavigationManager navigationManager
@inject SweetAlertService sweetAlertService
@attribute [Authorize(Roles = "Admin")]
@if (Categories is null)
{
    <MudProgressCircular Color="Color.Success" Indeterminate="true" />
}

<GenericList MyList="Categories">
    <Body>
        <div class="card">
            <div class="card-header">
                <span>
                    <MudIcon Icon="@Icons.Material.Filled.List" /> Categorias
                    <MudButton Class="float-end" @onclick=@(() => ShowModal()) Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.Add" Color="Color.Primary">Agregar Categoria</MudButton>
                </span>
            </div>
            <div class="card-body">
                <div class="sm-2" style="display:flex; flex-wrap:wrap; align-items:center">
                    <div>
                        <input style="width:400px" type="text" class="form-control" id="titulo" placeholder="Buscar Categortia... " @bind-value="Filter" />
                    </div>
                    <div class="mx-1">
                        <MudButton Variant="Variant.Outlined" @onclick="ApplyFilterAsync" StartIcon="@Icons.Material.Filled.Layers" Color="Color.Default">Filtrar</MudButton>
                        <MudButton Variant="Variant.Outlined" @onclick="CleanFilterAsync" StartIcon="@Icons.Material.Filled.LayersClear" Color="Color.Error">Limpiar</MudButton>
                        @if(catgoryState)
                        {
                            <MudButton Variant="Variant.Filled" @onclick=@(() => LoadCatgoryDeleted()) StartIcon="@Icons.Material.Filled.FolderDelete" Color="Color.Dark">Categorias Borradas</MudButton>
                        }
                        else
                        {
                            <MudButton Variant="Variant.Filled" @onclick=@(() => LoadAsync()) StartIcon="@Icons.Material.Filled.Folder" Color="Color.Success">Categorias Activas</MudButton>
                        }
                        </div>
                </div>
                <Pagination CurrentPage="currentpage" TotalPages="totalPage" SelectedPage="SelectedPageAsync" />
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Categoria</th>
                            <th style="width:200px"></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var category in Categories!)
                        {
                            <tr>
                                <td>
                                    @category.Name
                                </td>
                                <td>
                                    @if (catgoryState)
                                    {
                                        <MudButtonGroup Variant="Variant.Outlined" Size="Size.Medium" Color="Color.Primary">
                                            <MudIconButton @onclick=@(() => ShowModal(category.Id, true)) Icon="@Icons.Material.Filled.Edit" Color="Color.Warning"></MudIconButton>
                                            <MudIconButton @onclick=@(() => DeleteAsync(category.Id)) Icon="@Icons.Material.Filled.Delete" Color="Color.Error"></MudIconButton>
                                        </MudButtonGroup>
                                    }else
                                    {
                                        <MudIconButton Variant="Variant.Outlined" Size="Size.Medium" @onclick=@(() => RestoreCategory(category.Id, category.Name!)) Icon="@Icons.Material.Filled.Restore" Color="Color.Success"></MudIconButton>
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </Body>
</GenericList>

@code {
    private int totalPage;
    private int currentpage = 1;
    public List<CategoryDto>? Categories { get; set; }

    [CascadingParameter]
    IModalService Modal { get; set; } = default!;

    [Parameter]
    [SupplyParameterFromQuery]
    public string Page { get; set; } = "";
    [Parameter]
    [SupplyParameterFromQuery]
    public string Filter { get; set; } = "";

    private bool catgoryState = true;

    protected async override Task OnInitializedAsync()
    {
        await LoadAsync();
    }

    private async Task SelectedPageAsync(int page)
    {
        currentpage = page;
        await LoadAsync(page);
    }

    private async Task LoadAsync(int page = 1)
    {
        if (!string.IsNullOrWhiteSpace(Page))
            page = Convert.ToInt32(Page);

        var url2 = (string.IsNullOrEmpty(Filter)) ? $"categories/totalPages?deleted={false}" : $"categories/totalPages?filter={Filter}?deleted={false}";
        var url1 = (string.IsNullOrEmpty(Filter)) ? $"categories?page={page}" : $"categories?page={page}&filter={Filter}";

        var httpResponsePage = await repository.Get<int>(url2);
        var httpResponseCatgories = await repository.Get<List<CategoryDto>>(url1);
        if(httpResponseCatgories.Error)
        {
            var message = await httpResponseCatgories.GetErrorMessageAsync();
            await sweetAlertService.FireAsync("Error", message, SweetAlertIcon.Error);
            return;
        }

        totalPage = httpResponsePage.Response;
        Categories = httpResponseCatgories.Response;
        catgoryState = true;
    }

    private async Task LoadCatgoryDeleted(int page = 1)
    {
        if (!string.IsNullOrWhiteSpace(Page))
            page = Convert.ToInt32(Page);

        var url2 = (string.IsNullOrEmpty(Filter)) ? $"categories/totalPages?deleted={true}" : $"categories/totalPages?filter={Filter}?deleted={true}";
        var url1 = (string.IsNullOrEmpty(Filter)) ? $"categories/GetCategoriesDeletedAsync?page={page}" : $"categories/GetCategoriesDeletedAsync?page={page}&filter={Filter}";

        var httpResponsePage = await repository.Get<int>(url2);
        var httpResponseCatgories = await repository.Get<List<CategoryDto>>(url1);
        if (httpResponseCatgories.Error)
        {
            var message = await httpResponseCatgories.GetErrorMessageAsync();
            await sweetAlertService.FireAsync("Error", message, SweetAlertIcon.Error);
            return;
        }

        totalPage = httpResponsePage.Response;
        Categories = httpResponseCatgories.Response;
        catgoryState = false;
    }

    private async Task DeleteAsync(int id)
    {
        var result = await sweetAlertService.FireAsync(new SweetAlertOptions
            {
                Title = "Confirmacion",
                Text = "Realmente deseas eliminar el registro?",
                Icon = SweetAlertIcon.Question,
                ShowCancelButton = true,
                CancelButtonText = "No",
                ConfirmButtonText = "Si"
            });

        if (string.IsNullOrEmpty(result.Value))
            return;

        var httpResponse = await repository.Delete($"categories/id?id={id}");
        if (httpResponse.Error)
        {
            var message = await httpResponse.GetErrorMessageAsync();
            await sweetAlertService.FireAsync("Error", message, SweetAlertIcon.Error);
            return;
        }

        Snackbar.Configuration.PositionClass = Defaults.Classes.Position.TopCenter;
        Snackbar.Add("La categoria fue borrada.", Severity.Success, config => { config.Icon = Icons.Material.Filled.Check; });
        await LoadAsync();
    }

    private async Task RestoreCategory(int id, string name)
    {
        CategoryDto categoryDto = new CategoryDto
            {
                Id = id,
                Name = name,
                IsDeleted = false,
                Restore = true
            };
        var httpResponse = await repository.Put($"categories/id?id={id}", categoryDto);
        if (httpResponse.Error)
        {
            var message = await httpResponse.GetErrorMessageAsync();
            await sweetAlertService.FireAsync("Error", message, SweetAlertIcon.Error);
            return;
        }
        Snackbar.Configuration.PositionClass = Defaults.Classes.Position.TopCenter;
        Snackbar.Add("La categoria fue Actualizada.", Severity.Success, config => { config.Icon = Icons.Material.Filled.Check; });
        await LoadAsync();
    }

    private async Task CleanFilterAsync()
    {
        Filter = string.Empty;
        await ApplyFilterAsync();
    }

    private async Task ApplyFilterAsync()
    {
        int page = 1;
        await LoadAsync(page);
        await SelectedPageAsync(page);
    }

    private async Task ShowModal(int id = 0, bool isEdit = false)
    {
        IModalReference modalReference;

        if (isEdit)
        {
            modalReference = Modal.Show<CategoryEdit>(string.Empty, new ModalParameters().Add("Id", id));
        }
        else
        {
            modalReference = Modal.Show<CategoryCreate>();
        }

        var result = await modalReference.Result;
        if (result.Confirmed)
        {
            await LoadAsync();
        }
    }
}
